<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="false"
            id="org.osate.importer.uml.actionSet">
         <menu
               id="menu.osate"
               label="%menu.osate.label"
               path="project">
            <groupMarker name="file.grp"/>
            <separator name="instance.grp"/>
            <separator name="general.grp"/>
         </menu>

         <menu
               id="menu.analyses"
               label="%menu.analyses.label"
               path="menu.osate">
            <groupMarker name="top.grp"/>
            <groupMarker name="bottom.grp"/>
         </menu>

         <menu
               id="menu.importer"
               label="Import/Export Models"
               path="menu.analyses/top.grp">
            <groupMarker name="stuff.grp"/>
                         <visibleWhen checkEnabled="false">
            <with variable="activeWorkbenchWindow.activePerspective">
                <equals value="AADL"/>
            </with>
         </visibleWhen>
         </menu>


         <action
               class="org.osate.importer.uml.ea.actions.DoImportModel"
               enablesFor="1"
               id="org.osate.actions.DoImportUMLEA"
               label="UML/EA to AADL"
               menubarPath="menu.analyses/menu.importer/stuff.grp"
               toolbarPath="rsrc.toolbar"
               tooltip="Import a UML model from EA to AADL">
         </action>
      </actionSet>
   </extension>

   <extension
   	   point="org.eclipse.ui.perspectiveExtensions">
   	   <perspectiveExtension
   		   targetID="org.osate.ui.perspective.AadlPerspective">
   		   <actionSet
   		 	   id="org.osate.importer.uml.actionSet"/>
   	   </perspectiveExtension>
   </extension>


   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="edu.cmu.sei.uml.oc2"
            objectClass="java.lang.Object">
         <visibility>
            <or>
               <and>
                  <objectClass name="org.eclipse.core.resources.IFile"/>
                  <objectState name="extension" value="aaxl2"/>
               </and>
               <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
            </or>
         </visibility> 

         <menu
               id="org.osate.ui.popupMenu.Analyses"
               label="%popupMenu.analyses.label"
               path="additions">
            <groupMarker name="anal.grp"/>
            <groupMarker name="subMenus.grp"/>
         </menu>

         <menu
               id="org.osate.analysis.resource.management.popupmenu.importer"
               label="Import/Export Models"
               path="org.osate.ui.popupMenu.Analyses/subMenus.grp">
            <groupMarker name="anal.grp"/>
         </menu>
         <action
               id="org.osate.actions.DoImportUMLEA"
               label="UML from EA to AADL"
               tooltip="Import a UML model from EA as an AADL model"
               class="org.osate.importer.uml.ea.actions.DoImportModel"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.resource.management.popupmenu.importer/anal.grp"
               enablesFor="1"/>

      </objectContribution>
         
         
      <objectContribution
            id="edu.cmu.sei.uml.oc1"
            objectClass="java.lang.Object">
         <visibility>
            <or>
               <and>
                  <objectClass name="org.eclipse.core.resources.IFile"/>
                  <objectState name="extension" value="aaxl2"/>
               </and>
               <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
            </or>
         </visibility> 

         <menu
               id="org.osate.ui.popupMenu.Analyses"
               label="%popupMenu.analyses.label"
               path="additions">
            <groupMarker name="anal.grp"/>
            <groupMarker name="subMenus.grp"/>
         </menu>

         <menu
               id="org.osate.analysis.resource.management.popupmenu.importer"
               label="Import/Export Models"
               path="org.osate.ui.popupMenu.Analyses/subMenus.grp">
            <groupMarker name="anal.grp"/>
         </menu>
         <action
               id="org.osate.actions.DoExportUMLEA"
               label="AADL to UML/EA"
               tooltip="Export AADL to UML/EA"
               class="org.osate.importer.uml.ea.actions.DoExportModel"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.resource.management.popupmenu.importer/anal.grp"
               enablesFor="1"/>

      </objectContribution>

   </extension>

   <extension
         id="org.osate.importer.UMLImporterMarker"
         name="UML Importer Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="org.osate.importer.UMLExporterMarker"
         name="UML Exporter Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   
</plugin>
